html {
  font-family: Helvetica, serif;
  font-size: 1.5em;
  background-color: #49C6E5;
}

body {
  background-color: #49C6E5;
}

.button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6%;
}

button.rounded-circle {
  height: 3em;
  width: 3em;
  font-size: 2em;
  color: white;
}

#start {
  height: 4em;
  min-width: 4em;
  font-size: 1.5em;
  margin: 1em 0;
  color: white;
  border-radius: 16px;
}

#card {
  border: black 1px solid;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 10%;
  background-color: #FFFBFA;
  border-radius: 10px;
  box-shadow:
    inset 0 -4em 4em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 2em rgba(0,0,0,0.3);
}

#title {
  font-size: 2.5em;
  text-align: center;
}

#description {
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0;
}

#description img {
  width: 100%;
  height: auto;
}

#score {
  font-size: 1.5em;
  text-align: center;
}

#main {
  background-color: #49C6E5;
}

.deck {
  width: 45%;
  height: 20vh;
  box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
  background-color: #FFFBFA;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#decks {
  padding: 5%;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
}

#endTurn, #goBack {
  top: 1%;
  right: 1%;
  width: 2em;
  height: 2em;
  font-size: 1.5em;
}

#goBack {
  left: 1%;
}
